---
layout: default
title: Categories
---

<div class="categories">
	<h2 class="page-title">Categories</h2>
	<ul class="categoryList">
		{% for category in site.categories %}
		<li><h3 class="catItem"><a href="#{{ category[0] }}">{{ category[0] }}</a></h3></li>
		{% endfor %}
	</ul>
</div>

<hr class="separator">

{% assign diff = 14 | minus: 1 %}
{% assign randomNumber = "now" | date: "%s" | modulo: diff | plus: 1 %}

<div class="posts">
{% for category in site.categories %}
  <h3 id="{{ category[0] }}">{{ category[0] }}</h3>
  <ul style="list-style: none; padding-left: 20px">
    {% for post in category[1] %}
		<li>
			<img class="titlecon" src="{{ site.baseurl }}/public/images/icons/{{ site.data.icons[randomNumber].filename}}"></img>
				{% assign randomNumber = randomNumber | plus: 4 | modulo: diff %}
			
			<a href="{{ post.url }}">{{ post.title }}</a>
			<span class="post-date">{{ post.date | date_to_string }}</span>
		</li>
    {% endfor %}
  </ul>
{% endfor %}
</div>